* {
  margin: 0;
  padding: 0;
}
.navbar-color {
  background-color: rgb(0, 0, 0);
  color: wheat;
}
.logo-empresa img {
  width: 50px;
  height: 50px;
}

.banner-img img {
  height: 70vh;
  object-fit: cover;
}
