* {
  margin: 0;
  padding: 0;
}
.navbar-color {
  background-color:rgb(0, 0, 0)
  color: wheat;
}
.logo-empresa img {
  width: 50px;
  height: 50px;
}
.titulo{

  text-shadow: 0 4px 10px rgba(3, 16, 51, 0.788);
}

}

.banner-img img {
  height: 40vh;
  object-fit: cover;
}
.main-producto {
  background-color: gray;
}
